@model PuntoDeVenta.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/myScript.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <link href="~/Content/alertify.css" rel="stylesheet" />
    <link href="~/Content/default.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div style="min-width: 980px;">
        <div id="sidebar">
            <ul class="sidebar-nav">
                @foreach (PuntoDeVenta.Models.Category item in ViewBag.categories)
                {
                    <li>
                        <input class="category" value="@item.CategoryName" onclick="display('@item.CategoryId')" type="button">
                    </li>
                }
                <li style="margin-top:20px;">
                    @Html.ActionLink("Pendientes", "List")
                </li>
            </ul>
        </div>

        <div class="products">
            @foreach (PuntoDeVenta.Models.Product product in ViewBag.products)
            {
                <div class="card" name="@product.CategoryId" id="product @product.ProductID">
                    @Html.AntiForgeryToken()
                    <div class="card-img">
                        @if (product.Image != null)
                        {
                            var base64 = Convert.ToBase64String(product.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <center><img class="card-img-top" src="@imgSrc"></center>

                        }
                        else
                        {
                            <center><img class="card-img-top" alt="Product image"></center>
                        }
                    </div>
                    <input class="btn-submit" type="submit" value="" onclick="addToCart('@product.ProductID')" />

                    <h2 class="title" id="name @product.ProductID">@product.ProductName</h2>

                    <span class="myBadge" id="mybadge @product.ProductID">
                        <label id="lbl @product.ProductID">1</label>
                    </span>
                </div>
            }

        </div>
        <div id="cart" class="cart">
            <i class="fa fa-shopping-cart" data-toggle="modal" data-target="#myModal"></i>
            <span class="myBadge bdg2">
                <label id="bdgQuantity">0</label>
            </span>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Productos en la orden</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered" id="myTable">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                Disminuir/Aumentar
                            </th>
                            <th>
                                Eliminar
                            </th>
                        </tr>
                    </table>

                    <div class="tables">
                        @foreach (PuntoDeVenta.Models.Table item in ViewBag.tables)
                        {
                            if (ViewBag.busy.Contains(item.TableNumber))
                            {
                                <input id="table @item.TableId" class="taable busy" type="button" value="Mesa @item.TableNumber" onclick="selectTable(@item.TableId,@item.TableNumber)" />
                            }
                            else
                            {
                                <input id="table @item.TableId" class="taable" type="button" value="Mesa @item.TableNumber" onclick="selectTable(@item.TableId,@item.TableNumber)" />
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <input type="submit" value="Enviar" class="btn btn-success" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .dngr {
        color: red !important;
        font-size: 20px;
        position: absolute;
        right: 10%;
    }

    .taable {
        margin: .7rem !important;
        width: 9rem;
        height: 4rem;
        border: none;
        border-radius: 10px;
        background-color: #dddddd;
    }

        .taable:active {
            filter: invert(10%);
        }

    .busy {
        background-color: red;
        color: white;
    }

    .actual {
        background-color: green;
        color: white;
    }

    .tables {
        margin-top: 10rem;
    }

    .myBadge {
        border-radius: 100% !important;
        background-color: rgb(0, 180, 255) !important;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -.5rem;
        right: -.8rem;
        z-index: 99;
        display: none;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .bdg2 {
        background-color: rgb(0, 255, 0) !important;
        width: 3rem !important;
        height: 3rem !important;
        top: 1rem;
        right: 1rem;
        z-index: 99;
        display: flex;
        flex-direction: column !important;
    }

    label {
        width: 100%;
        text-align: center;
        align-self: center;
        font-size: 1.8rem;
        color: rgb(52, 52, 52);
    }

    .btn-submit {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        background: transparent;
        border: none;
        border-radius: 10px;
        z-index: 90;
        cursor: pointer;
    }

    .addItem {
        margin-left: 10px;
        color: green;
    }



    .addItem, .rmvItem {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
        background: transparent !important;
        border: none !important;
    }



    .rmvItem {
        margin-left: 30px;
        color: rgba(157, 19, 19, 0.7);
    }



        .rmvItem:hover, .addItem:hover {
            text-decoration: none;
            filter: invert(10%);
        }

    .cart {
        font-size: 10rem;
        right: 30px;
        width: 120px;
        position: absolute;
    }


    i {
        position: absolute;
        width: 100%;
        top: 2rem;
        color: rgb(128, 128, 128);
        cursor: pointer;
        text-align: center;
    }

    .title {
        width: 100%;
        height: 20%;
        padding-left: 15px;
        color: rgb(0, 0, 255);
        font-weight: 400;
        font-size: 2rem;
        position: absolute;
        bottom: 0px;
    }

    .card-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 75%;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;
    }

    .card-img-top {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .products {
        position: absolute;
        margin-left: 190px;
        width: calc(100% - 190px);
        height: 100%;
        min-width: 1100px;
        min-height: 600px;
        /*overflow-y: hidden;*/
    }

    .card {
        cursor: pointer;
        position: relative;
        width: 20%;
        height: 31%;
        min-width: 20rem;
        min-height: 19rem;
        display: inline-grid;
        margin: 7px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    input[type=submit]:active, input[type=button]:active {
        border: none;
        outline: none;
    }

    input[type=submit]:focus, input[type=button]:focus {
        border: none;
        outline: none;
    }

    input[type=button] {
        padding: 0;
        margin: 0;
    }

    .card:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    }

    .card:active {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    }


    body {
        padding: 0px !important;
        margin: 0px !important;
        user-select: none !important;
    }

    #sidebar {
        z-index: 100;
        position: fixed;
        width: 180px;
        min-width: 100px;
        height: 100%;
        margin-top: 0px;
        background: rgb(31, 31, 31);
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li {
        line-height: 40px;
    }

    .sidebar-nav li a, .sidebar-nav li input[type=button] {
        display: block;
        text-decoration: none;
        color: #999999;
        font-size: 2.5rem;
        text-indent: 5px;
        text-align: left;
        border: none;
        background: transparent;
        width: 100%;
    }

    .sidebar-nav li a:hover, .sidebar-nav li input[type=button]:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
    }
</style>