@model PuntoDeVenta.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/myScript.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <link href="~/Content/alertify.css" rel="stylesheet" />
    <link href="~/Content/default.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div>
        <div id="sidebar">
            <ul class="sidebar-nav">
                @foreach (PuntoDeVenta.Models.Category item in ViewBag.categories)
                {
                    <li>
                        <input class="category" value="@item.CategoryName" onclick="display('@item.CategoryId')" type="button">
                    </li>
                }
                <li style="padding-top:20px;">
                    @Html.ActionLink("Pendientes", "List")
                </li>
            </ul>
        </div>

        <div class="products">
            @foreach (PuntoDeVenta.Models.Product product in ViewBag.products)
            {
                PuntoDeVenta.Models.Order order = new PuntoDeVenta.Models.Order();
                order.Product = product;
                //list.Add(order);
                <div class="card" name="@product.CategoryId" id="product @product.ProductID" @*method="post" action="/Orders/Create"*@>
                    @Html.AntiForgeryToken()
                    <div class="card-img-top">
                        <center><img class="card-img-top" src="~/Content/Tacos.jpg"></center>
                        @*<input class="mybtn add" value="+" onclick="add('@product.ProductID')" type="button">*@
                        @*<input class="mybtn remove" value="-" onclick="removeItem('@product.ProductID')" type="button">*@
                    </div>
                    <input class="btn-submit" type="submit" value="" onclick="addToCart('@product.ProductID')" />

                    <h2 class="title" id="name @product.ProductID">@product.ProductName</h2>

                    <span class="myBadge" id="mybadge @product.ProductID">
                        <label id="lbl @product.ProductID">1</label>
                    </span>
                </div>
            }
        </div>
        <div class="cart sticky">
            <i class="fa fa-shopping-cart" data-toggle="modal" data-target="#myModal"></i>
            <span class="myBadge bdg2">
                <label id="bdgQuantity">0</label>
            </span>
        </div>

    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Productos en la orden</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="myTable">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th></th>
                        </tr>
                    </table>

                    <div class="tables">
                        @foreach (PuntoDeVenta.Models.Table item in ViewBag.tables)
                        {
                            <input class="taable" type="button" value="Mesa @item.TableNumber" onclick="selectTable(@item.TableId,@item.TableNumber)" />
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="submit" value="Submit" class="btn btn-success" id="btnSubmit" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .dngr {
        color: red !important;
    }

    .taable {
        margin: .7rem;
        width: 9rem;
        height: 4rem;
    }

    .tables {
        margin-top: 10rem;
    }

    .myBadge {
        border-radius: 100% !important;
        background-color: rgb(0, 180, 255) !important;
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        z-index: 99;
        display: none;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .bdg2 {
        background-color: rgb(0, 255, 0) !important;
        width: 3rem !important;
        height: 3rem !important;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 99;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    label {
        width: 100%;
        text-align: center;
        align-self: center;
        font-size: 1.8rem;
        color: rgb(52, 52, 52);
    }

    .btn-submit {
        width: 100% !important;
        height: 28rem;
        position: absolute;
        background: transparent;
        border: none;
        border-radius: 10px;
        z-index: 90;
        cursor: pointer;
    }

    .mybtn {
        z-index: 98;
        position: absolute;
        width: 5rem !important;
        color: white;
        font-weight: bold;
        border: none;
    }

    .add {
        background-color: rgba(0, 255, 0, 0.7);
        top: 0;
        right: 0;
        height: 75%;
        border-radius: 0px 10px 0px 0px;
    }

    .remove {
        background-color: rgba(157, 19, 19, 0.7);
        right: 0;
        bottom: 0;
        height: 25%;
    }

    /*div.sticky {
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
    }*/ 
    .cart {
        font-size: 10rem;
        top: 0;
        right: 0;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        position: absolute;
    }

    i {
        position: absolute;
        top: 2rem;
        right: 5px;
        color: rgb(128, 128, 128);
        cursor: pointer;
    }

    .title {
        margin-bottom: 5%;
        padding-left: 15px;
        color: rgb(0, 0, 255);
        font-weight: 400;
        font-size: 2rem;
    }

    .card-img-top {
        position: relative;
        margin-top: 0px;
        width: 28rem;
        height: 22rem;
        border-radius: 10px 10px 0px 0px;
    }

    .products {
        position: absolute;
        left: 18rem;
        width: 85%;
    }

    .card {
        cursor: pointer;
        position: relative;
        width: 28rem;
        height: 28rem;
        display: inline-grid;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

        .card:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        }

        .card:active {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
        }


    body {
        padding: 0px !important;
        margin: 0px !important;
    }

    #sidebar {
        z-index: 100;
        position: fixed;
        width: 18rem;
        height: 100%;
        margin-top: 0px;
        background: rgb(31, 31, 31);
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .category {
        background: transparent;
        width: 100%;
        border: none;
        text-align: left;
        text-decoration: none;
        color: #999999;
        font-size: 2.5rem;
    }

        .category:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255, 255, 255, 0.2);
        }

    .sidebar-nav li {
        text-indent: 5px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
            font-size: 2.5rem;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

    @@media screen and (max-width: 954px) {
    }
</style>