@model IEnumerable<PuntoDeVenta.Models.Spending>

@{
    ViewBag.Title = "Gastos";
}

<h2>Lista de Gastos</h2>

<p>
    @Html.ActionLink("Agregar Gastos", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SpendingID }) |
    @*@Html.ActionLink("Details", "Details", new { id=item.SpendingID }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.SpendingID })
        </td>
    </tr>
}

</table>
